<body>
  <header>
    <div class="Body"></div>
    <nav class="navbar">
        <div class="logo">
            <img src="img/LigthLogo.png" alt="logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Reservation</a></li>
            <li><a href="#">Plan</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Explore</a></li>
        </ul>
        <div class="auth-buttons">
            <button class="login">Login</button>
            <button class="signup">Signup</button>
        </div>
    </nav>
  </header>

  <section class="hero">
    <!-- Video di sfondo -->
    <video autoplay muted loop id="video-background">
      <source src="img/Roma.mp4" alt="HomeVideo" type="video/mp4"> 
    </video>
    <!-- Overlay sopra il video per migliorare visibilità del contenuto -->
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>BOOK YOUR </h1>
        <p>NEXT TRIP! </p>
        <div class="search-bar">
            <input type="text" placeholder="Where you want to go ?">
            <button>BOOK</button>
        </div>
    </div>
  </section>
  <section class="mostrecommended">
    <h1>MOST RECOMMENDED</h1>
  </section>

</body>

<footer>
  <app-footer></app-footer>
</footer>
