
<header>
  <div class="logo">
      <img src="img/logo.png" alt="Thynk Travel Logo">

  </div>
  <nav>
      <a routerLink="">HOME</a>
      <a href="#">EXPLORE</a>
  </nav>
  <button class="logout-button" routerLink="/login">LOGIN</button>
</header>

<div class="container">
  <div class="title-section">
      <h1>nome hotel</h1>
      <p>⭐ 8.9 (2.5 reviews)</p>
  </div>

  <div class="image-grid">
      <img src="img/DestinationImg/BigBen.jpg" alt="Big Ben">
      <img src="img/DestinationImg/BuckinghamPalace.jpg" alt="Buckingham palace">
      <img src="img/DestinationImg/SaintPaul.jpg" alt="Saint Paul">
      <img src="img/DestinationImg/LondonBridgre.jpg" alt="London bridge">
  </div>

  <div class="about-section">
      <div class="text">
          <h2>About the hotel</h2>
          <p>descrizione</p>
      </div>
      <div class="booking">
          <h2>€ 350 per night</h2>
      </div>
  </div>

  <div class="packages">
      <h2>SOME REVIEWS</h2>

  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>

