

    <header>
        <div class="logo">
            <img src="img/logo.png" alt="Logo">
            <span>THYNK TRAVEL</span>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/homeUser">HOME</a></li>
                <li><a href="#">TRAVEL</a></li>
                <li><a href="#">BOOK</a></li>
                <li><a href="#">BEST TRIPS</a></li>
            </ul>
        </nav>
        <a href="#" class="logout" routerLink="/">LOGOUT</a>
    </header>

    <div class="container">
        <div class="title-section">
            <h1>London, United Kingdom 🇬🇧</h1>
            <p>⭐ 8.9 (2.5 reviews)</p>
        </div>

        <div class="image-grid">
            <img src="img/DestinationImg/BigBen.jpg" alt="Big Ben">
            <img src="img/DestinationImg/BuckinghamPalace.jpg" alt="Buckingham palace">
            <img src="img/DestinationImg/SaintPaul.jpg" alt="Saint Paul">
            <img src="img/DestinationImg/LondonBridgre.jpg" alt="London bridge">
        </div>

        <div class="about-section">
            <div class="text">
                <h2>About the destination</h2>
                <p>London, the capital of England and the United Kingdom,
                  is a vibrant and cosmopolitan metropolis steeped in history, culture, and innovation.
                  Situated on the banks of the River Thames, the city boasts a rich tapestry of architectural marvels,
                  from the iconic Tower Bridge and Big Ben to the contemporary Shard and Gherkin.</p>
            </div>
            <div class="booking">
                <h2>€ 350 per night</h2>

                <form>
                  <label for="checkIn">Check In</label>
                    <input type="date" placeholder="Check In">
                    <label for="checkOut">Check Out</label>
                    <input type="date" placeholder="Check Out">
                    <label for="NumberGuest">Number of guest</label>
                    <input type="number" min="0" max="15" placeholder="Guest">
                    <button type="submit">BOOK NOW</button>
                </form>
            </div>
        </div>

        <div class="facilities">
            <h2>Our Best Facilities</h2>
            <div class="icons">
              <div class="icon">
                <img src="img/Icon/Wifi.png" alt="Wifi">
                <span>Wifi</span>
            </div>
            <br>
            <div class="icon">
              <img src="img/Icon/hotel.png" alt="Wifi">
              <span>Fabolous Hotel</span>
          </div>
          <br>
          <div class="icon">
            <img src="img/Icon/Pool.png" alt="Wifi">
            <span>Swimming pool</span>
        </div>
        <br>
        <div class="icon">
          <img src="img/Icon/Park.png" alt="Wifi">
          <span>Free Parking</span>
      </div>
      <br>
      <div class="icon">
        <img src="img/Icon/Air.png" alt="Wifi">
        <span>Air Conditioner</span>
    </div>
        </div>
        </div>

        <div class="packages">
            <h2>PACKAGES</h2>
            <p>Choose our range of expertly crafted packages</p>
            <div class="grid">
                <div>
                    <img src="img/DestinationImg/VictoriaMemorial.jpg" alt="Eiffel Tower">
                    <p>Queen Victoria Memorial</p>
                </div>
                <div>
                    <img src="img/DestinationImg/StPaul.jpg" alt="Notre Dame">
                    <p>Saint Paul cathedral</p>
                </div>
                <div>
                    <img src="img/DestinationImg/LondonEye.jpg" alt="Louvre Museum">
                    <p>London Eye</p>
                </div>
            </div>
        </div>
    </div>

