<header class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">  
      <div class="container-fluid">
        <div class="logo">
          <img src="img/logo.png" alt="logo">
      </div>
        <button class="navbar-toggler" type="button" 
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" 
                aria-controls="navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- <ul class="navbar-nav mx-auto"> -->
            <div class="w-100 d-flex justify-content-center">
              <ul class="navbar-nav d-flex flex-row gap-4">
            <li class="nav-item">
              <a class="nav-link" (click)="isCollapsed = true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']" (click)="isCollapsed = true">Reservation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']" (click)="isCollapsed = true">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']" (click)="isCollapsed = true">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="isCollapsed = true" (click)="explore()">Explore</a>
            </li>
          </ul>
          </div>
          <ul class="navbar-nav ms-auto">       
            <li class="nav-item">
              <i class="bi bi-person-circle nav-link text-secondary" 
                 style="cursor: pointer; font-size: 25px;" 
                 (click)="profileSidebar.openSidebar()" 
                 aria-label="Profilo">
              </i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<app-side-bar #profileSidebar></app-side-bar>


  <!-- Hero Section -->
  <div class="container">
    <!-- Sezione Sinistra -->
    <div class="left-section">
        <h1>WELCOME BACK</h1>
        <h2>{{ userName }}</h2>
        <div class="form-group">
          <label for="destination">Destination</label>
          <input type="text" id="destination" placeholder="City or destination" [(ngModel)]="searchQuery" >
      </div>
      <div
  *ngIf="searchQuery.trim().length === 0 && submitted"
  style="color: red; font-size: 1em;padding-bottom: 15px;"
>
  Inserisci almeno un carattere per effettuare la ricerca.
</div>
      <button class="button"  (click)="search()" >Search</button>
    </div>
    <div class="right-section"></div>
    </div>


    <h2 id="h2MostRecommended">MOST RECOMENDED</h2>

    <div class="citycontainer">
      <div class="list-group">
        <div *ngFor="let city of cities" class="list-group-item">
          <!-- Immagine della città -->
          <img [src]="city.photos" [alt]="city.name" />

          <div>
            <!-- Nome città e paese -->
            <h5>{{ city.name }}</h5>
            <span>{{ city.country.name }} {{ city.country.flag }}</span>

            <!-- Descrizione della città -->
            <p>{{ city.description }}</p>

            <!-- Informazioni aggiuntive -->

          </div>
        </div>
      </div>
    </div>
<!--
<div class="yourcountrycontainer">
<h2>POPULAR DESTINATIONS</h2>
  <div class="list-group">
    <div class="list-group-item">
      <img src="img/st.Peter.jpg" alt="Vatican City" />
      <div>
        <h5>St. Peter's Basilica</h5>
        <span>Rome, Italy</span>
      </div>
    </div>
    <div class="list-group-item">
      <img src="img/SidneyOperaHouse.jpg" alt="SidneyOperaHouse" />
      <div>
        <h5>Sidney Opera House </h5>
        <span>Sidney, Australia</span>
      </div>
    </div>
    <div class="list-group-item">
      <img src="img/WinterPalace.jpg" alt="WinterPalace" />
      <div>
        <h5>Winter Palace</h5>
        <span>Moscow, Russia</span>
      </div>
    </div>
    <div class="list-group-item">
      <img src="img/TajMahal.jpg" alt="TajMahal" />
      <div>
        <h5>Taj Mahal</h5>
        <span>Agra, India</span>
      </div>
    </div>
  </div>
</div>
-->

<app-footer></app-footer>

